<footer>
    <section class="footer_section item">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="address-box">
                        <a href=""><img class="img-fluid" src="assets/images/logo.svg"
                                alt=""></a>
                        <p class="po_sm_txt">68 R1, MYTM Building, Adjecent JS Bank, Main Boulevard, Johar Town,
                            Phase1,
                            Lahore.</p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-12 maintain_width">
                    <!-- <p class="footer_hd_txt pb-3 item">About</p> -->
                    <div class="fote_link">
                        <a href="" class="po_sm_txt">About Us</a>
                        <a href="" class="po_sm_txt">Contact Us</a>
                        <a href="" class="po_sm_txt">Destinations</a>
                        <a href="" class="po_sm_txt">Blogs</a>
                        <a href="" class="po_sm_txt">FAQ&apos;s</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 maintain_width">
                    <!-- <p class="footer_hd_txt pb-3">Features</p> -->
                    <div class="fote_link item">
                        <a href="" class="po_sm_txt item">Cheap Flights</a>
                        <a href="" class="po_sm_txt item">Budget Hotel</a>
                        <a href="" class="po_sm_txt item">Sign in / Register</a>
                        <a href="" class="po_sm_txt item">Site map</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 maintain_width">
                    <!-- <p class="footer_hd_txt pb-3">Company</p> -->
                    <div class="fote_link item">
                        <a href="" class="po_sm_txt item">Terms & Conditions</a>
                        <a href="" class="po_sm_txt item">Terms of use</a>
                        <a href="" class="po_sm_txt item">Privacy Policy</a>
                        <a href="" class="po_sm_txt item">Security</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 item">
                    <p class="footer_hd_cont">Contact Us</p>
                    <div class="logo_num item">
                        <div class="img_sm_style">
                            <img src="assets/images/call-i.svg" alt="" class="mb_logo">
                        </div>
                        <p class="num_txt m-0">+12 3 4567 8901</p>
                    </div>
                    <div class="logo_num pt-2">
                        <div class="img_sm_style">
                            <img src="assets/images/msg-i.svg" alt="" class="mb_logo">
                        </div>
                        <p class="num_txt m-0">info@mytmtravels.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="social_icon">
        <div class="container border-top">
            <div class="text-center item justify-content-between">
                <div class="social_style">
                    <!-- <p class="followTag" style="margin-bottom: 0px;">Follow Us</p> -->
                    <a href=""><img src="assets/images/facebook.svg" alt=""></a>
                    <a href=""><img src="assets/images/insta.svg" alt=""></a>
                    <a href=""><img src="assets/images/twitter.svg" alt=""></a>
                    <a href=""><img src="assets/images/linkdin.svg" alt=""></a>
                </div>
                <p class="po_sm_txt text-center item">Copyright 2024, All Rights Reserved by&nbsp;<span
                        class="fw-bold">MYTM Travels.</span></p>
                <img src="assets/images/visa.png">
            </div>
        </div>
    </section>
</footer>